* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fddbe9;
    font-family: "Protest Riot", sans-serif;
}

.container {
    height: 70vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cat-img {
    width: 40rem;
    height: 40rem;
    margin-bottom: 2rem;
}

.title {
    font-size: 3.6rem;
    color: #f10404;
    text-align: center;
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn {
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 4px;

    color: black;
    font-size: 1.6rem;
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
}

.btn--yes {
    background-color: #9630308f;
}

.btn--no {
    background-color: #93205069;
}

.hidden {
    display: none;
}

#confetti{
    height: 10rem;

}
